<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UDPMediater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <UDPMediater.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>UDPXfer</value>
            </setting>
            <setting name="ListenPort" serializeAs="String">
                <value>14242</value>
            </setting>
        </UDPMediater.Properties.Settings>
    </userSettings>
</configuration>